<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcj.mapper.StuMapper">
    <select id="findStuBySidAndPwd" parameterType="Student" resultType="Student">
		SELECT * FROM student WHERE sid = #{sid} AND pwd = #{pwd}
    </select>

    <insert id="insertStus" parameterType="List">
        insert into student(sid, name, gender, pwd, address, school, collage, major, grade, birth, nation,
        politics_status, qq, mobi, email) values
        <foreach collection="list" separator="," item="stu">
            (#{stu.sid}, #{stu.name}, #{stu.gender},
            #{stu.pwd},#{stu.address},#{stu.school},#{stu.collage},#{stu.major},#{stu.grade},#{stu.birth},#{stu.nation},#{stu.politics_status},#{stu.qq},#{stu.mobi},#{stu.email})
        </foreach>
    </insert>

    <select id="getStuList" parameterType="Map" resultType="Student">
        SELECT * FROM student
        <if test="searchArg != null and searchArg != ''">
            WHERE major LIKE CONCAT('%','${searchArg}','%' ) OR grade LIKE CONCAT('%','${searchArg}','%' ) OR sid LIKE
            CONCAT('%','${searchArg}','%' )
        </if>
        ORDER BY sid LIMIT #{page},#{rows}
    </select>

    <select id="getStuTotalCount" resultType="int" parameterType="String">
        SELECT COUNT(*) FROM student
        <if test="searchArg != null and searchArg != ''">
            WHERE major LIKE CONCAT('%','${searchArg}','%' ) OR grade LIKE CONCAT('%','${searchArg}','%' ) OR sid LIKE
            CONCAT('%','${searchArg}','%' )
        </if>
    </select>

    <update id="updateStuById" parameterType="Student">
        UPDATE student SET sid = #{sid},  name=#{name},  gender = #{gender},  pwd = #{pwd}, address = #{address}, school = #{school}, collage=#{collage}, major=#{major}, grade=#{grade},  birth=#{birth},  nation=#{nation},
         politics_status=#{politics_status}, qq=#{qq}, mobi=#{mobi}, email = #{email}, avatar=#{avatar} WHERE id = #{id}
    </update>

    <select id="findStuById" resultType="Student" parameterType="int">
        SELECT * FROM student WHERE id=#{id}
    </select>

    <delete id="delStuById" parameterType="Int">
        DELETE FROM student WHERE id=#{id}
    </delete>
</mapper>			